.main {
    /* Стили для основного контента, если нужно */
}

.container {
    display: flex;
    align-items: center; /* Чтобы выровнять элементы по вертикали */
    justify-content: center; /* Чтобы выровнять элементы по горизонтали */
    /* Добавьте отступы, если нужно */
}

.photo {
    width: 150px; /* или другой размер, в зависимости от вашего дизайна */
    height: auto; /* чтобы сохранить пропорции изображения */
    border-radius: 50%; /* для круглого изображения */
    margin-right: 20px; /* отступ от текста */
}

.textContainer {
    text-align: left;
}

.rectangle {
    display: block;
    width: 50px; /* ширина прямоугольника */
    height: 10px; /* высота прямоугольника */
    background-color: #000; /* цвет прямоугольника */
    margin-bottom: 10px; /* отступ от заголовка */
}

.heading {
    font-size: 2em; /* размер шрифта заголовка */
    margin-bottom: 10px; /* отступ от описания */
}

.desc {
    font-size: 1em; /* размер шрифта описания */
    margin-bottom: 20px; /* отступ от кнопки */
}

.formButton {
    /* Стили для кнопки, если не определены в компоненте Button */
}

/* Стили для ContactForm, если форма должна быть отформатирована */
