.slider-container {
    display: flex;
    overflow: hidden; /* Скрывает части слайдов, которые выходят за пределы контейнера */
    width: 100%; /* Примерная ширина, может быть изменена */
}

/* Класс для индивидуального слайда */
.slide {
    min-width: 100%; /* Каждый слайд занимает всю ширину контейнера */
    transition: transform 0.5s ease; /* Плавная анимация перехода */
    /* Дополнительные стили для слайда */
}

/* Текст на слайде */
.slide-text {
    position: absolute; /* Если текст должен быть поверх изображения */
    bottom: 20px; /* Расположение текста в слайде */
    left: 20px;
    color: #fff; /* Цвет текста */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 10px; /* Отступы вокруг текста */
}

/* Стили для контейнера точек (если используются) */
.dots-container {
    text-align: center; /* Центрирование точек */
    padding: 10px 0; /* Отступы сверху и снизу */
}

/* Стили для каждой точки */
.dot {
    display: inline-block;
    height: 10px; /* Размер точек */
    width: 10px;
    border-radius: 50%; /* Круглые точки */
    background-color: #bbb; /* Цвет невыбранных точек */
    margin: 0 5px; /* Отступы между точками */
    cursor: pointer; /* Указатель курсора для взаимодействия */
}

/* Стили для активной точки */
.dot.active {
    background-color: #717171; /* Цвет активной точки */
}

/* Стили для адаптивности */
@media (max-width: 768px) {
    .slide-text {
        font-size: 14px; /* Меньший размер шрифта для мобильных устройств */
    }
}
